.back-button {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 101;
  &:hover {
    color: #ffffff;
    outline: 2px solid #ffffff;
  }
  &:active {
    color: #000000;
    background-color: #ffffff;
    outline: 2px solid #ffffff;
  }
}
