.back-button {
  position: fixed;
  padding: 6px;
  display: flex;
  justify-content: center;
  top: 0;
  left: 5px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  text-transform: uppercase;
  z-index: 101;

  &:hover {
    color: #000000;
    background: #ffffff;
    outline: 2px solid #000000;
  }

  &:active {
    color: #000000;
    background-color: #ffffff;
    outline: 2px solid #ffffff;
  }
}
