@font-face {
	font-weight: thin;
	font-family: "Exo 2";
	font-style: normal;
	src: url("../assets/fonts/exo2-thin.woff2") format("woff2"), url("../assets/fonts/exo2-thin.woff") format("woff");
}

@font-face {
	font-weight: normal;
	font-family: "TrebuchetMS";
	font-style: normal;
	src: url("../assets/fonts/trebuchet-ms.woff2") format("woff2"), url("../assets/fonts/trebuchet-ms.woff") format("woff");
}

@font-face {
	font-weight: thin;
	font-family: "TrebuchetMS-Bold";
	font-style: normal;
	src: url("../assets/fonts/trebuchet-ms-bold.woff2") format("woff2"), url("../assets/fonts/trebuchet-ms-bold.woff") format("woff");
}